
<div class="about-content">
    <p>Como recién Titulado, me encantaría poder ser parte de una empresa en la cual poder aplicar mis conocimientos, y al mismo tiempo que me permita aprender y desarrollarme profesionalmente.

        Como persona organizada y con una gran motivación, espero tener un buen trabajo en equipo y dar siempre lo mejor de mí en cualquier proyecto o circunstancia.
        </p>
    
    <p>
        Current Stack:
        <b>
            Php (Laravel), Angular, Git, Deployment (Firebase Hosting). 
        </b>

    </p>
    <figure>
        <embed src="https://wakatime.com/share/@6bebd5bf-1ad0-4b0b-aad0-fd4dd9bb09d7/58cf5b68-51c1-40f1-9c72-e98d2a712515.svg">
    </figure>

</div>