
  <body>
  <div class="container">
    <header class="site-header">
      
      <a class="site-title" href="/">Diego Fuentes Miranda (dfsma)</a>
      
    
      <nav>
        <a [routerLink]="['/']">Blog</a>
        <a [routerLink]="['/about']">About</a>
        <a href="https://www.linkedin.com/in/diego-fuentes-b41869153/">Linkedin</a>
        <a href="https://github.com/Dfsma">GitHub</a>
        <a href="mailto:diegof.df58@gmail.com">Contact</a>
      </nav>
    </header>
    
    <router-outlet></router-outlet>

  </div>
  
  </body>

